/*----- RESET -----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class utilities */
.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mt-1{
    margin-top: 1rem;
}

.ml-1{
    margin-left: 1rem;
}

.mt-2{
    margin-top: 2em;
}

ul{
    list-style-type: none;;
}

.display-flex{
    display: flex;
}

.flex-dir-col{
    flex-direction: column;
}

.flex-dir-row{
    flex-direction: row;
}

.spc-btwn{
    justify-content: space-between;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* ---------------------------------------------------------------------------- */

/* COMMON */

html{
    font-family: 'PT Sans', sans-serif;
    color: white;
}

body{
    background-color: black;
}

:root{
    --sidebar-width: 250px;
    --player-height: 100px;
    --main-side-height: calc(100vh - 100px);
    --cda-height: 60px;
    --sides-player-width: 250px;
    --margin-10px: 10px; 
    --margin-5px: 5px;
    /* palette */
    --gray-font: #7d7f8496;
    --acid-green: #ADFF2F;
    --main-bg-color: #141922;
    --player-color: #282828;
}

.card .circle{
    border-radius: 50%;
}

main img{
    max-width: 100%;
}

/* typography */
main h1{
    margin-left: 1rem;
}

main h2{
    font-size: 1.1rem;
    text-align: center;
}

main h3{
    color: var(--gray-font);
    font-size: 0.8rem;
}

main .card h2{
    padding-top: 0.5rem;
}

main .card h3{
    text-align: center;
    line-height: 2rem;
}
/*------------ CTA -------------*/
.cta{
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    height: var(--cda-height);
    position: fixed;
    z-index: 990;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.6);
}

.cta a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    padding: 0.3rem 2rem;
    line-height: var(--cda-height);
    font-size: 0.9rem;
    margin-right: 1.5rem;
}

@media screen and (max-width: 599px){
    .cta{ 
        width: calc(100% - 60px);
        margin-left: 60px;
    }

}
/*------------ /CTA -------------*/

/*------------ SIDEBAR -------------*/
.sidebar{
    width: var(--sidebar-width);
    height: var(--main-side-height);
    position: fixed;
    z-index: 999;
    background-color: rgb(0, 0, 0);
}

.sidebar-main{
    height: calc(100% - 60px);
}

.sidebar svg{
    height: 40px;
    width: auto;
    margin: 10px auto 10px 30px;
}

.sidebar > i{
    font-size: 2rem;
    margin: 10px auto 10px 30px;
    display: none;
}

.sidebar  i{
    margin: 10px auto 10px 30px;
}

.sidebar-footer i:first-child{
    margin-left: 2rem;
    margin-top: 16rem;
}

/* section */
.sections{
    height: 120px;
    background-color: red;
}

.section svg{
    height: 30px;
    vertical-align: middle;
    margin: 5px auto 5px 30px;
}

.section:not(:first-child){
    color: var(--gray-font);
}
/* /section */

/* playlist */
.playlists{
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    overflow-y: auto;
}

.playlists h4{
    margin-left: 30px;
}

.plus-icon{
    display: inline-block;
    background-color: var(--gray-font);
    width: 40px;
    height: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    color: black;
    margin: 10px auto 10px 30px;
    vertical-align: middle;
}

.new-playlist span{
    color: var(--gray-font);
}

.playlist{
    color: var(--gray-font);
    margin: 10px auto 10px 30px;   
}

/* /playlist */

/* sidefooter */
.sidebar-footer{
    color: var(--gray-font);
    background-color: #ADFF2F;
    height: 400px;
    min-height: 150px;
}

.sidebar-footer i:not(:first-child){
    font-size: 2rem;
}

hr{
    margin: 0.5rem 1.5rem;
    border: 1px solid ;
}

.sidebar-footer i{
    vertical-align: middle;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

.sidebar-footer h4{
    display: inline-block;
    color: white;
    width: 100%;
}

.sidebar-footer span{
    font-size: 0.8rem;
}
/* /sidefooter */

/* media */
/* mobile */
@media screen and (max-width: 599px){
    .sidebar span,
    .sidebar .playlists,
    .sidebar h4,
    .sidebar hr,
    .logo-text{
        display: none;
    }

    .sidebar-footer i{
        display: block;
    }

    .sidebar > i{
        display: block;
    }

    .sidebar{
        width: 60px;
    }

}
/* /media */
/*------------ /SIDEBAR -------------*/

/*------------ MAIN -------------*/
main{
    width: 100%;
    height: var(--main-side-height);
    overflow: auto;
    padding-top: var(--cda-height);
    margin-left: var(--sidebar-width);
    background-color: var(--main-bg-color);
}

/* categories */
.categories{
    flex-wrap: wrap;
}
.categories li{
    margin-bottom: 1.5rem;
}

main .categories li a{
    text-decoration: none;
    color: var(--gray-font);
    padding: 0.5rem;
    font-weight: 600;
    
    letter-spacing: 1.2px;
}
/* categories */

.row{
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row .card{
    width: calc(100% / 6 - 1em);
    margin-right: 1em;
}

/* media */
/* desktop */
@media screen and (max-width: 1099px){
    .row{
        flex-wrap: wrap;
    }

    .row .card{
        width: calc(100% / 4 - 1em);
    }
}
/* tablet */
@media screen and (max-width: 699px){
    .row .card{
        width: calc(100% / 2 - 1em);
    }
}
/* mobile */
@media screen and (max-width: 599px){
    main{
        margin-left: 60px;
    }
}
/* /media */
/* /media */
/*------------ /MAIN -------------*/

/*------------ PLAYER -------------*/
.player{
    width: 100%;
    height: var(--player-height);
    position: fixed;
    background-color: var(--player-color);
    z-index: 999;
    align-items: center;

}
/* player left */
.player-left{
    height: 50px;
    width: var(--sides-player-width);
    justify-content: flex-start;
}

.card-player{
    width: 200px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.card-player img{
    margin-right: 10px;
    width: calc(100% / 4);
}

.card-player .text-player{
    width: 100px;
}

.card-player h5{
    color: var(--gray-font);
    font-weight: 400;
}

.like-folder i{
    padding: 1rem 0.5rem;
    color: var(--gray-font);
}
/* /player left */

/* player center */

/* player btn */
.player-center{
    width: 600px;
    height: 70px;
    margin: 0 10px;
}

.player-center .player-bar-container{
    width: 80%;
    margin: 0 auto;
}

.player-center .player-btn{
    width: 200px;
    align-self: center;
    margin-bottom: 20px;
}

.player-center .player-btn i{
    padding: 0 15px;
    line-height: 20px;
}

#btn-play{
    font-size: 30px;
}
/* player btn */

/* player bar */

.player-bar{
    margin-top: 5px;
}

.time{
    font-size: 0.8rem;
}

.bar{
    margin-top: 7px;
    height: 6px;
    width: 80%;
    background-color: var(--gray-font);
    border-radius: 3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.current-time{
    height: 6px;
    width: 20%;
    background-color: white;
    border-radius: 3px;
    position: relative;
}

.player-bar .current-time i{
    position: absolute;
    right: -4px;
    top: -4px;
    display: none;
}

/* /player bar */

/* /player center */

/* player right */
.player-right{
    width: var(--sides-player-width);
}

.player-right i{
    font-size: 12px;
    padding: var(--margin-10px);
}

.player-right .bar{
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
}

.player-right .current-time i{
    position: absolute;
    right: -15px;
    top: -10px;
    display: none;
}
/* /player right */

/* media */
/* desktop */
@media screen and (max-width: 1099px){
    .player-right{
        width: 20%;
    }


    .player-right i{
        font-size: 10px;
        padding: var(--margin-5px);
    }

    .player-bar-container{
        width: 40%;
    }

    .player-center{
        width: 40%;
    }


}

/* tablet */
@media screen and (max-width: 699px){
    .like-folder{
        flex-direction: column;
    }

    .like-folder i{
        padding: 5px;
        font-size: 12px;
    }

    .player-center{
       width: 280px;
    }

    .player-right{
        width: 140px;
    }

    .player-left{
        width: 30%;
    }
}
/* mobile s */
@media screen and (max-width: 599px){
    .player-left .card-player .text-player{
        width: auto;
    }
    
    .player-left h4{
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .player-left h5{
        font-size: 0.6rem;
    }

}
/* /media */
/*------------ /PLAYER -------------*/